
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<h2><p style="text-align:center">Welcome Guset</p></h2>

    
<div style="text-align:center">
    <span>
        <input id="Button1" type="button" value="Login In" onclick="location.href='@Url.Action("Login", "Home")'" />
        <input id="Button1" type="button" value="Register" onclick="location.href='@Url.Action("Register", "Home")'" />
    </span>
</div>


