@model Networking_Project.Models.UserLogin

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Client</title>
</head>
<body>
    <div>
        Email : @Model.Email <br />
        Password : @Model.Password <br />
    </div>
</body>
</html>

